*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 200px;
    width: 200px;
    background: blue;
}
@media screen and (max-width : 600px){
    div{
       
        background: red;
    }
}